@import "variables";

:root {
    // https://systemfontstack.com/
    --bs-body-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.red {
    color: $color-red;
}

.green {
    color: $color-green;
}

pre {
    box-sizing: border-box;
    padding: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    &__green {
        @extend .dot;
        background-color: $color-green;
    }

    &__red {
        @extend .dot;
        background-color: $color-red;
    }
}

.mobile__show {
    @media only screen and (min-width: $breakpoint-md + 1) {
        display: none;
    }
}

.mobile__hide {
    @media only screen and (max-width: $breakpoint-md) {
        display: none;
    }
}

.linkdecoration {
    &__none {
        text-decoration: none;
        color: white;
    }
}
